---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import Shape from '@/components/icons/Shape'
import { sluglify, unsluglify, getCategories, getPosts } from '@/utils'

const { category } = Astro.params

export async function getStaticPaths() {
	const categories = await getCategories()

	return categories.map((category) => ({
		params: { category: sluglify(category.toLowerCase()) },
		props: category
	}))
}

const unsluglifyNameCategory = unsluglify(category!.toLowerCase())

const posts = await getPosts()
const filterPosts = posts.filter(
	(post) => post.data.category.toLowerCase() === unsluglifyNameCategory
)
---

<BaseLayout title={category}>
	<div class='flex justify-start items-center gap-2'>
		<Shape />
		<h1 class='text-5xl font-semibold tracking-wide first-letter:uppercase'>
			{unsluglifyNameCategory}
		</h1>
	</div>

	<ListCategories activeCategory={category} />
	<ListPosts posts={filterPosts} />
</BaseLayout>
