@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		transition: background-color 0.5s ease;
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-SemiBold.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Regular.woff2) format('woff2');
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100   !important;
	}
}

.moon-logo {
	transform: translateY(0%) rotateZ(0deg);
}

.sun-logo {
	transform: translateY(0) rotateZ(0deg);
}

.animate-sun {
	transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
	transform: translateY(20%) rotateZ(50deg);
}

.glass {
	backdrop-filter: blur(15px) saturate(150%);
	-webkit-backdrop-filter: blur(15px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.05);
	z-index: -1;
}
