---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Shape from '@/components/icons/Shape'
import BaseLayout from '@/layouts/BaseLayout'
import { getCollection } from 'astro:content'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = (await getCollection('blog'))
  .slice(0, MAX_POSTS)
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BaseLayout title='Home'>
  <div class='flex justify-start items-center gap-2 title'>
    <Shape />
    <h1 class='text-5xl font-semibold tracking-wide'>Blog Title</h1>
  </div>

  <ListCategories />

  <div>
    <h2 class='text-lg font-medium tracking-wide text-end'>Latest Post</h2>
    <ListPosts FirstBig={true} posts={posts} />
  </div>
</BaseLayout>

<script>
  import { animate } from 'motion'

  if (history.length <= 2) {
    animate(
      '.title',
      { y: [80, 0], opacity: [0, 1] },
      {
        duration: 2.5,
        opacity: { duration: 3 },

        offset: [0, 0.55, 0.75],
      }
    )
  }
</script>
