<div
  class="hidden rounded md:flex flex-col items-center justify-center gap-4 text-white bg-hero-pattern object-cover h-60 w-full text-center bg-center"
>
  <h1 class="font-semibold text-5xl">LOREM IPSUM</h1>
  <p class="font-semibold">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci similique
    enim neque architecto.
  </p>
</div>
