---
import MenuIcon from '@/components/icons/MenuIcon'
---

<details id='resources-menu' class='group relative'>
	<summary class='accordion link flex cursor-pointer items-center gap-2'>Pages</summary>
	<ul
		class:list={[
			// flex
			'flex flex-col',

			// positioning

			'absolute top-full left-0 translate-y-2',

			// panel styling

			'rounded bg-astro-gray-100 p-1 text-astro-gray-700 min-w-[150px] shadow-md',

			// transitioning

			'invisible group-open:visible',
			'origin-top scale-95 group-open:scale-100',
			'opacity-0 group-open:opacity-100',
			'transition-all duration-300'
		]}
	>
		<li>
			<a
				href='/themes'
				rel='prefetch'
				class='flex items-center gap-2 rounded p-3 leading-none transition hover:bg-black/10'
			>
				Themes
			</a>
		</li>
		<li>
			<a
				href='/integrations'
				rel='prefetch'
				class='flex items-center gap-2 rounded p-3 leading-none transition hover:bg-black/10'
			>
				Integrations
			</a>
		</li>
		<li>
			<a
				href='https://docs.astro.build/en/tutorial/0-introduction/'
				class='flex items-center gap-2 rounded p-3 leading-none transition hover:bg-black/10'
			>
				Tutorials
			</a>
		</li>
	</ul>
</details>

<script>
	const menu = document.querySelector<HTMLDetailsElement>('#resources-menu')!

	menu.addEventListener('focusout', () => {
		if (!menu.matches(':focus-within')) {
			// delay the transition on focustout so the menu doesn't immediately disappear
			setTimeout(() => {
				menu.open = false
			}, 200)
		}
	})
</script>
