---
import HeaderLink from './HeaderLink.astro'
---

<header class="flex justify-between border-b-2 border-black py-3">
	<a href="/">DanielCG</a>
	<nav class="flex gap-3">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
			Twitter
		</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
</header>
