---
import type { CollectionEntry } from 'astro:content'
import PostCard from './PostCard.astro'
type Props = {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {posts.map(post => <PostCard data={post.data} slug={post.slug} />)}
</section>
