---
import Category from './Category.astro'
const { categories } = Astro.props
---

<div
  class="flex flex-wrap bg-[#212529] dark:bg-[#20202044] text-white py-2.5 px-2 md:pl-5 rounded-2xl justify-start gap-4"
>
  {categories.map((category: string) => <Category name={category} />)}
</div>
