---
import Search from './Search.astro'
---

<nav
	aria-label='Primary'
	class='heading-3 flex w-56 flex-col divide-y divide-astro-gray-500 text-left [&>*]:p-6'
>
	<a href='https://docs.astro.build/' rel='prefetch' class='flex items-center gap-4'> Home</a>
	<a href='https://docs.astro.build/' rel='prefetch' class='flex items-center gap-4'> Tags</a>
	<div>
		<Search />
	</div>
</nav>
