---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<a href={`/tags/${encodeURIComponent(tag.toLowerCase())}`} aria-label={tag}>
	<span
		class='bg-indigo-600 font-semibold text-white dark:bg-indigo-900 dark:text-white shadow text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full'
	>
		{tag ?? 'Blog Tag'}
	</span>
</a>
