---
type Props = {
	title: string
}

const { title } = Astro.props
---

<!-- <div class='flex justify-start items-center gap-2 title'> --><!-- <Shape /> --><!-- <Title>{title}</Title> --><!-- </div> -->
