---
import Title from './Title.astro'
import Shape from './icons/Shape.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<Shape />
	<Title>{title}</Title>
</div>
