---
import SunIcon from '@/components/icons/SunIcon'
import MoonIcon from '@/components/icons/MoonIcon'
---

<div class='theme relative cursor-pointer'>
	<span class='sun-logo
						w-fit
						h-fit
						opacity-0
						transition-transform
						duration-500'>
		<SunIcon />
	</span>
	<span class='moon-logo w-fit h-fit absolute opacity-0 inset-0 transition-transform duration-500'>
		<MoonIcon />
	</span>
</div>
