---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />

    <script is:inline>
      if (localStorage.theme === 'light' || !('theme' in localStorage)) {
        document.documentElement.classList.remove('dark')
        localStorage.setItem('theme', 'light')
      } else {
        document.documentElement.classList.add('dark')
        localStorage.setItem('theme', 'dark')
      }
    </script>
  </head>

  <body
    class='relative bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white transition-colors duration-500 ease-in-out'
  >
    <main
      class='mx-auto max-w-xs md:px-0 antialiased md:max-w-5xl grid gap-12 mt-4'
    >
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
