---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout>
	<article class="prose lg:prose-xl">
		{
			heroImage && (
				<img
					class="rounded-md"
					width={720}
					height={360}
					src={heroImage}
					alt=""
				/>
			)
		}
		<h1 class="">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<slot />
	</article>
</BaseLayout>
